body {
    background-color:rgb(206, 172, 86)
}

main aside img {
    border-radius: 4em;
}

li {
    display: inline-block;
    float: left;
    border-right: 1px dashed;
}

ul {
    list-style: none;
    background-color:cornsilk;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


li a:hover {
    background-color:rgb(149, 216, 216)
}

main, h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.breadcolumnleft {
    background-color: aliceblue;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    display: inline-block;
    float: left;
    text-align: center;
    margin-bottom: 20px;

   
}

.pastriescolumnmiddle {
    background-color: rgb(62, 96, 126);
    width: 150px;
    height: 150px;
    border-radius: 10%;
    display: inline-block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    text-align:center;
    margin-bottom: 20px;
    
}

.componentscolumnright {
    background-color: rgb(125, 144, 161);
    width: 150px;
    height: 150px;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
   
}

.testlogo {
    margin-top: 20px;
    
}

.mainboxes {
    align-content: center;
}




