*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffc03a;
   
}


.header{
    background-color: cornsilk;

}


.navbar {
    background-color: cornsilk ;

}


/*below is start of DIY banner; DON'T INSERT PADDING*/
.row {
    float: left;
    width: 25%;
    
}



.banner {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  
}




li {
    
    list-style: none;
}



a {
    color: black;
    text-decoration: none;

}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding{
    font-size: 2rem;

}

/* change below 'nav a img' to a clipart because your picuture is doo-doo*/

nav a img{
    width: 100px;
    height: 80px;
}


.nav-link{
    transition: 0.7s ease;
}

.nav-item:hover {
    background-color:rgb(149, 216, 216)
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* #1*/

@media(max-width:768px) and (min-width: 414px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
         opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
       position:fixed;
       left: -100%;
       top: 70px;
       gap: 0;
       flex-direction: column;
       background-color: cornsilk;
       width: 100%;
       text-align: center;
       transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left:0;

    }



}



h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(172, 57, 57);
    padding: 2rem;
    font-size: 40px;
    text-align: center;
    
    
}



.testlogo{
    padding-left: 1rem;
    padding-right: 1rem;
    
}



div.flex-container {
    height: 25%;
    width: 100%;
    
   
    

}

.flex-container {
    align-content:center;
    display:flex; 
    /*added 'flex-wrap:wrap below and it fixed home page*/
    flex-wrap: wrap;
    justify-content:space-around;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 60%;
    border: 1rem;
    padding: 2rem;
    border-style:double;
    border-color: rgb(189, 97, 97);
    
}

.flex-container img{
    border-radius: 50%;
    margin-top: 1rem;
    border-style: groove;
    
}


.breadcolumnleft {
    background-color: rgb(173, 184, 132);
    width: 455px;
    height: 375px;
    border-radius: 20%;
    display: inline-block;
    float: left;
    text-align: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
   
}




.pastriescolumnmiddle {
    background-color: rgb(173, 184, 132);
    width: 455px;
    height: 375px;
    border-radius: 20%;
    display: inline-block;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    
}


.componentscolumnright {
    background-color: rgb(173, 184, 132);
    width: 455px;
    height: 375px;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    
}



/* all below is start of other html docs*/  
 

/*.grid AND media query 800px below stay together 4/18/22*/

.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
   
}
/* #2 */
@media (max-width: 800px) {
    .grid {
        flex-direction: column;
    }
}



/* added padding below to adjust unbalanced sides 4/18/22*/
.grid {
    padding-left: auto;
    padding-right: auto;
   
   }


.grid > article{
    background: rgb(209, 130, 60) ;
    border: none;
    box-shadow: 2px 2px 6px 0px rgb(18, 65, 65);
    border-radius: 20px;
    text-align: center;
    width: 500px; /*this will adjust the entire article pic width*/
    transition: transform .3s;
}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 6px 0px rgb(149, 216, 216);
}
 
.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.text{
    padding:10px 20px 20px;
    
    
}

.text h2{
    text-transform: uppercase;
}

.text button{
    background:rgb(173, 184, 132);
    border-radius:20px;
    border: none;
    color:rgb(19, 18, 19) ;
    padding: 10px;
    margin:auto;
    width: 80%;
    font-weight: 600;
    font-size: 28px;
    border-style: solid ;
    border-width: 3px;
    text-transform:uppercase;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.text a button:hover{
        background-color:rgb(210, 224, 188)
    }




/* #4 */

@media (min-width: 500px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
       
    }

    

    .grid > article{
        text-align: center;
    }


}

/*below start Part1 BASIC 4/6/22*/

.finaltitle {
    margin: 20px 10px 10px 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.finalpics {
    margin: 30px;
    float: left;
}

.instructions {
    float: center;
    margin: 10px 10px 10px 10px;
    padding: 2rem;
    
    
}
/*above end part1 BASIC 4/6/22*/

/*below info goes with 'start part1 JS' */

#myDIV {
    width: 95%;
    padding: 50px;
    text-align:end;
    background-color:rgb(110, 123, 145);
    margin-top: 20px;
}

footer {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(86, 83, 83);
    padding: 2rem;
    font-size: 22px;
    text-align: center;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

/* #5 */

@media (max-width: 768px){
    .center {
        width: 95%;
      
    }
}

.h2homeprocess:hover {
    background-color: rgb(171, 195, 188);
    border-radius: 20px;
    
}

.h2homeprocess {
    margin-left: 30px;
    color: rgb(23, 123, 68);
    border-style:solid;
    border-color: black;
    background-color: cornsilk;
    border-width: 2px;
}

.breadcolumnleft, .pastriescolumnmiddle, .componentscolumnright, h2 a:hover {
    
    border-radius: 10px;
    color: rgb(220, 231, 200);
    border-style:solid;
    border-color: black;
    background-color: rgb(195, 179, 114);
    border-width: 3px;
    padding: 1px;
    
 

}

.instructions p {
    font-size: 25px;

}

button {
    font-size: large;
    margin-left: 2rem;
}
 #myDIV ul{ 
     font-size: 20px;

 }


