body {
    background-color:rgb(206, 172, 86)
}

main aside img {
    border-radius: 4em;
}

li {
    display: inline-block;
    float: left;
    border-right: 1px dashed;
}

ul {
    list-style: none;
    background-color:cornsilk;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


li a:hover {
    background-color:rgb(149, 216, 216)
}

main, h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

